.button {
    position: relative;
    width: 170px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s;
}

.buttonIcon,
.buttonText {
    transition: all 0.3s;
}

.buttonText {
    transform: translateX(25px);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.buttonIcon {
    position: absolute;
    transform: translateX(120px);
    height: 100%;
    width: 48px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 11px 11px 0;
}

.svg {
    width: 20px;
    fill: #fff;
    color: #fff;
}

.button:hover {
    background: #17795E;
}

.button:hover .buttonText {
    color: transparent;
}

.button:hover .buttonIcon {
    width: 100%;
    transform: translateX(0);
    border-radius: 11px;
}

.button:active .buttonIcon {
    background-color: #146c54;
}

.button:active {
    border: 1px solid #146c54;
}